@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    
}

section {
    width: 400px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 5%;
    background: hsl(0, 0%, 100%);
    margin-top: 50px;
}

img {
    width: 350px;
    border-radius: 5%;
    margin: 20px auto;
    
}

h1 {
    width: 400px;
    text-align: center;
    margin: 5px auto;
    font-weight: 700;
    
}

p {
    width: 250px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 40px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    
}




















.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 20px;
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}